sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 42.66667em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 75.83334em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 75.83334em;
}
.stl_06 {
	height: 4.266667em;
}
.ie .stl_06 {
	height: 42.66667em;
}
@font-face {
	font-family:"OHBHUF+PingFangSC-Regular";
	src:url("8f144fc1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1em;
	font-family: "OHBHUF+PingFangSC-Regular", "Times New Roman";
	color: #FFC000;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"FEUPRU+PingFangSC-Regular";
	src:url("6a4118e4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 2.916666em;
	font-family: "FEUPRU+PingFangSC-Regular", "Times New Roman";
	color: #FFFFFE;
}
.stl_11 {
	letter-spacing: -0.0001em;
}

.ie .stl_11 {
	letter-spacing: -0.0051px;
}
@font-face {
	font-family:"GDUEVL+PingFangSC-Regular";
	src:url("4a429cfd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 1.166667em;
	font-family: "GDUEVL+PingFangSC-Regular", "Times New Roman";
	color: #FFFFFE;
}
@font-face {
	font-family:"UCIABG+PingFangSC-Regular";
	src:url("b3a9b329-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1.666667em;
	font-family: "UCIABG+PingFangSC-Regular", "Times New Roman";
	color: #41464B;
}
@font-face {
	font-family:"QKIDVD+PingFangSC-Regular";
	src:url("8c1d76ab-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 2em;
	font-family: "QKIDVD+PingFangSC-Regular", "Times New Roman";
	color: #42464B;
}
@font-face {
	font-family:"RPQGFL+PingFangSC-Semibold";
	src:url("de3292fc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 4.166666em;
	font-family: "RPQGFL+PingFangSC-Semibold", "Times New Roman";
	color: #1B1D1F;
}
.stl_16 {
	font-size: 4.166666em;
	font-family: "RPQGFL+PingFangSC-Semibold", "Times New Roman";
	color: #FFCA25;
}
.stl_17 {
	font-size: 2em;
	font-family: "QKIDVD+PingFangSC-Regular", "Times New Roman";
	color: #41464B;
}
@font-face {
	font-family:"NBHJMU+Verdana";
	src:url("cc54a7c8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 1em;
	font-family: "NBHJMU+Verdana";
	color: #BEBEBE;
}
.stl_19 {
	line-height: 1.041992em;
}
@font-face {
	font-family:"VEUNTC+MicrosoftYaHei";
	src:url("29b67a89-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 2.916666em;
	font-family: "VEUNTC+MicrosoftYaHei", "Times New Roman";
	color: #44546A;
}
.stl_21 {
	font-size: 1em;
	font-family: "NBHJMU+Verdana";
	color: #737571;
}
@font-face {
	font-family:"WCFRRO+MicrosoftYaHei";
	src:url("cf20af6d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 1em;
	font-family: "WCFRRO+MicrosoftYaHei", "Times New Roman";
	color: #737571;
}
.stl_23 {
	letter-spacing: -0.0003em;
}

.ie .stl_23 {
	letter-spacing: -0.0052px;
}
.stl_24 {
	font-size: 1em;
	font-family: "OHBHUF+PingFangSC-Regular", "Times New Roman";
	color: #BEBEBE;
}
.stl_25 {
	font-size: 2.916666em;
	font-family: "FEUPRU+PingFangSC-Regular", "Times New Roman";
	color: #43536A;
}
.stl_26 {
	font-size: 1em;
	font-family: "OHBHUF+PingFangSC-Regular", "Times New Roman";
	color: #737470;
}
@font-face {
	font-family:"LNGRME+PingFangSC-Regular";
	src:url("43de2a94-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 1.5em;
	font-family: "LNGRME+PingFangSC-Regular", "Times New Roman";
	color: #41464B;
}
.stl_28 {
	font-size: 1em;
	font-family: "OHBHUF+PingFangSC-Regular", "Times New Roman";
	color: #41464B;
}
.stl_29 {
	font-size: 2.916666em;
	font-family: "VEUNTC+MicrosoftYaHei", "Times New Roman";
	color: #43536A;
}
.stl_30 {
	font-size: 1em;
	font-family: "WCFRRO+MicrosoftYaHei", "Times New Roman";
	color: #737470;
}
@font-face {
	font-family:"FBQBQU+SimSun";
	src:url("d9e413d6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.833333em;
	font-family: "FBQBQU+SimSun", "Times New Roman";
	color: #BCBCBC;
}
.stl_32 {
	line-height: 1em;
}
.stl_33 {
	font-size: 1em;
	font-family: "OHBHUF+PingFangSC-Regular", "Times New Roman";
	color: #43536A;
}
@font-face {
	font-family:"GHFFJW+PingFangSC-Semibold";
	src:url("6e0f93a1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 0.916667em;
	font-family: "GHFFJW+PingFangSC-Semibold", "Times New Roman";
	color: #FFFFFE;
}
@font-face {
	font-family:"LWUJIK+PingFangSC-Semibold";
	src:url("f9eb8117-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 1.333333em;
	font-family: "LWUJIK+PingFangSC-Semibold", "Times New Roman";
	color: #000000;
}
.stl_36 {
	letter-spacing: 0.0004em;
}

.ie .stl_36 {
	letter-spacing: 0.0075px;
}
@font-face {
	font-family:"WICTHD+PingFangSC-Regular";
	src:url("7281714a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.833333em;
	font-family: "WICTHD+PingFangSC-Regular";
	color: #767B88;
}
.stl_38 {
	font-size: 1em;
	font-family: "WCFRRO+MicrosoftYaHei", "Times New Roman";
	color: #000000;
}
.stl_39 {
	font-size: 1em;
	font-family: "WCFRRO+MicrosoftYaHei", "Times New Roman";
	color: #43536A;
}
.stl_40 {
	letter-spacing: 0.0013em;
}

.ie .stl_40 {
	letter-spacing: 0.0167px;
}
@font-face {
	font-family:"SLWWER+MicrosoftYaHei-Bold";
	src:url("8d9ac29f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 1.333333em;
	font-family: "SLWWER+MicrosoftYaHei-Bold", "Times New Roman";
	color: #000000;
}
.stl_42 {
	letter-spacing: 0.0005em;
}

.ie .stl_42 {
	letter-spacing: 0.0107px;
}
.stl_43 {
	letter-spacing: 0.0002em;
}

.ie .stl_43 {
	letter-spacing: 0.0022px;
}
.stl_44 {
	letter-spacing: -0.001em;
}

.ie .stl_44 {
	letter-spacing: -0.0133px;
}
.stl_45 {
	letter-spacing: -0.0009em;
}

.ie .stl_45 {
	letter-spacing: -0.0119px;
}
.stl_46 {
	letter-spacing: 0.001em;
}

.ie .stl_46 {
	letter-spacing: 0.0133px;
}
.stl_47 {
	letter-spacing: -0.0004em;
}

.ie .stl_47 {
	letter-spacing: -0.0061px;
}
.stl_48 {
	letter-spacing: 0.0008em;
}

.ie .stl_48 {
	letter-spacing: 0.0111px;
}
.stl_49 {
	font-size: 1.666667em;
	font-family: "UCIABG+PingFangSC-Regular", "Times New Roman";
	color: #000000;
}
.stl_50 {
	font-size: 0.833333em;
	font-family: "WICTHD+PingFangSC-Regular";
	color: #FFFFFE;
}
.stl_51 {
	font-size: 1.166667em;
	font-family: "GDUEVL+PingFangSC-Regular", "Times New Roman";
	color: #000000;
}
.stl_52 {
	letter-spacing: -0.0015em;
}

.ie .stl_52 {
	letter-spacing: -0.02px;
}
@font-face {
	font-family:"CDPPCU+PingFangSC-Semibold";
	src:url("b1129262-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_53 {
	font-size: 1em;
	font-family: "CDPPCU+PingFangSC-Semibold", "Times New Roman";
	color: #41464B;
}
@font-face {
	font-family:"UAULKJ+PingFangSC-Regular";
	src:url("5d77c1b8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_54 {
	font-size: 1.083333em;
	font-family: "UAULKJ+PingFangSC-Regular";
	color: #4E5966;
}
@font-face {
	font-family:"FEPTNB+PingFangSC-Regular";
	src:url("08a4ce57-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_55 {
	font-size: 1.333333em;
	font-family: "FEPTNB+PingFangSC-Regular", "Times New Roman";
	color: #FFFFFE;
}
.stl_56 {
	font-size: 2.916666em;
	font-family: "VEUNTC+MicrosoftYaHei", "Times New Roman";
	color: #FFFFFE;
}
@font-face {
	font-family:"IFEGSD+PingFangSC-Semibold";
	src:url("f4275879-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_57 {
	font-size: 4.5em;
	font-family: "IFEGSD+PingFangSC-Semibold", "Times New Roman";
	color: #FFFFFE;
}
.stl_58 {
	letter-spacing: -0.0005em;
}

.ie .stl_58 {
	letter-spacing: -0.036px;
}
